artifacts/n8n-copilot-workflow-simplified.json
{
  "name": "Simplified Copilot Quota Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "copilot-quota",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:18899/api/copilot/quota"
      },
      "id": "http-get",
      "name": "GET Copilot Quota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}"
      },
      "id": "respond-node",
      "name": "Respond with Quota",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "GET Copilot Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Copilot Quota": {
      "main": [
        [
          {
            "node": "Respond with Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}