artifacts/n8n-copilot-workflow.json
{
  "id": "copilot-usage-api",
  "name": "Copilot Usage API Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "copilot-quota",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-quota",
      "name": "Webhook Trigger (Quota)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "copilot-quota"
    },
    {
      "parameters": {
        "url": "http://localhost:18899/api/copilot/quota",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-get-quota",
      "name": "GET /api/copilot/quota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-quota",
      "name": "Respond with Quota",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "copilot-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-analysis",
      "name": "Webhook Trigger (Analysis)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "copilot-analysis"
    },
    {
      "parameters": {
        "url": "http://localhost:18899/api/copilot/analysis",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-get-analysis",
      "name": "GET /api/copilot/analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-analysis",
      "name": "Respond with Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 500]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "hours": 9,
              "minutes": 0,
              "dayInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Daily 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 700]
    },
    {
      "parameters": {
        "url": "http://localhost:18899/api/copilot/quota",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-get-quota-scheduled",
      "name": "GET Quota (Scheduled)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "tableFormat": "detectAutomatically",
        "options": {
          "scope": "sheet"
        }
      },
      "id": "google-sheets-append",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3.2,
      "position": [750, 700]
    },
    {
      "parameters": {
        "rule": {
          "field": "days",
          "hours": 9,
          "minutes": 30,
          "dayInterval": 1
        }
      },
      "id": "schedule-trigger-analysis",
      "name": "Schedule Trigger (Daily 9:30am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 900]
    },
    {
      "parameters": {
        "url": "http://localhost:18899/api/copilot/analysis",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-get-analysis-scheduled",
      "name": "GET Analysis (Scheduled)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 900]
    },
    {
      "parameters": {
        "to": "YOUR_EMAIL@example.com",
        "subject": "Copilot Usage Report - {{ $json.data.quota.usedPercent }}% used",
        "body": "={{ JSON.stringify($json.data, null, 2) }}",
        "options": {}
      },
      "id": "email-notify",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1.1,
      "position": [750, 900]
    }
  ],
  "connections": {
    "Webhook Trigger (Quota)": {
      "main": [
        [
          {
            "node": "GET /api/copilot/quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/copilot/quota": {
      "main": [
        [
          {
            "node": "Respond with Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Analysis)": {
      "main": [
        [
          {
            "node": "GET /api/copilot/analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/copilot/analysis": {
      "main": [
        [
          {
            "node": "Respond with Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 9am)": {
      "main": [
        [
          {
            "node": "GET Quota (Scheduled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Quota (Scheduled)": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 9:30am)": {
      "main": [
        [
          {
            "node": "GET Analysis (Scheduled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Analysis (Scheduled)": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2026-03-28T00:55:00.000Z",
  "versionId": "1"
}
